$color_lightgrey:  #8F95A5; 
$color_red: #AB0433;
$color_white: #FFFFFF;
$color_black: #000000;
$borderColor: #DBDBDB;
$grey: #888B91;
$header__bg: #0A0A0B;
$main-title:  #F1F2F3;
$brands: #111213;
$colorlink: #263238;
